/* KILL USER AGENT */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
address {
    font-style: normal;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-pad {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-pad-bottom {
    padding-bottom: 120px;
}

:root {
    --color: #434455;
    --background-color: #fff;
    --nav-color: #2e2f42;
    --accent-color: #4d5ae5;
    --accent-color-hover: #404bbf;
    --accent-color-light: #f4f4fd; /* CLOUD */
    --accent-color-medium: #e7e9fc; /* CORNFLOWER */
    --footer-icon-hover: #31d0aa;
    --customers-icon: #8e8f99; /* LIGHT SLATE */
    --transition-timing: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.outline {
    outline: 1px solid red;
}

/*COMMON BODY */
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--color);
    background-color: var(--background-color);
}

.list-title {
    color: var(--nav-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.text {
    line-height: 1.5;
}

.link {
    text-decoration: none;
    color: inherit;
    font-style: normal;

    transition: color var(--transition-timing) var(--transition-function);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.link.current {
    position: relative;
    color: var(--accent-color-hover);
}

.current::after {
    content: "";

    position: absolute;
    top: 66px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color-hover);
}

.button-pointer {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.card-text {
    padding: 32px 16px;
}

/* HEADER */

.logo {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1, 33;
    text-transform: uppercase;
    color: var(--nav-color);

    margin-right: 75px;
}

.logo-accent {
    color: var(--accent-color);
}

.header-border {
    border-bottom: var(--accent-color-medium) solid 1px;
}

.header {
    display: flex;
}

.header-nav {
    display: flex;
}

.nav-menu {
    color: var(--nav-color);
    font-weight: 500;

    display: flex;
    gap: 40px;
}

.header-contact {
    margin-left: auto;
}

.header-contact-list {
    display: flex;
    gap: 40px;
}

.header .link {
    display: block;
    padding: 24px 0;
}

/* FOOTER */
.logo-light {
    color: var(--accent-color-light);
}

.footer {
    background-color: var(--nav-color);
}

.footer-pad {
    padding: 100px 0;
}

.footer-text {
    color: var(--accent-color-medium);
    width: 264px;
    margin-top: 16px;
}

.footer-list {
    display: flex;
}

.footer-list div:first-child {
    margin-right: 120px;
}

.footer-sm-text {
    color: var(--background-color);
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-social-media-list {
    display: flex;
    /* justify-content: center; */
    gap: 16px;
}

.social-media-icon.footer-social-media-icon {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--transition-timing)
        var(--transition-function);
}

.social-media-icon.footer-social-media-icon:hover,
.social-media-icon.footer-social-media-icon:focus {
    background-color: var(--footer-icon-hover);
}

.footer-subscribe {
    margin-left: auto;
}

.footer-button-wrap {
    display: flex;
}

.footer-subscribe input {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    padding-left: 16px;
    color: var(--background-color);
}

.hero-button.footer-button {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    margin-top: 0px;
    box-shadow: none;
    margin-left: 24px;
}

.hero-button.footer-button svg {
    margin-left: 16px;
    fill: var(--background-color);
}

/* MODAL */
.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 1;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--transition-timing) var(--transition-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    bottom: 0;
    transform: translate(-50%, 50%) scale(0.9);
}

.modal {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%) scale(1);

    width: 408px;
    height: 584px;
    padding: 72px 24px 24px;

    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--transition-timing) var(--transition-function),
        bottom var(--transition-timing) var(--transition-function);
}

.close-modal {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    background-color: var(--accent-color-medium);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: background-color var(--transition-timing)
            var(--transition-function),
        fill var(--transition-timing) var(--transition-function),
        border-color var(--transition-timing) var(--transition-function);
}

.close-modal:hover,
.close-modal:focus {
    background-color: var(--accent-color-hover);
    border-color: transparent;
    fill: #fff;
}

.form > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--nav-color);
    margin-bottom: 16px;
}

.form-field {
    display: block;
    margin-bottom: 8px;
    width: 100%;
}

.form-field.comment {
    margin-bottom: 0px;
}

.input-wrap {
    position: relative;
    fill: var(--nav-color);
}

.input-wrap svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill var(--transition-timing) var(--transition-function);
}

.input-wrap:focus-within svg {
    fill: #4d5ae5;
}

.form-label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-icon);

    gap: 4px;
}

.form input:not([type="checkbox"]),
.form textarea {
    display: block;
    padding-left: 40px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    transition: border var(--transition-timing) var(--transition-function);
}

.form textarea {
    padding: 8px 16px;
    height: 120px;
    resize: none;
}

.form input:focus,
.form textarea:focus {
    outline: transparent;
    border: 1px solid #4d5ae5;
}

.form-privacy {
    margin-top: 16px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #757575;
}

.form-privacy a {
    color: var(--accent-color);
}

.custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;
    border: 1.25px solid var(--nav-color);
    border-radius: 2px;
    margin-right: 8px;

    fill: transparent;
}

.checkbox:checked + span {
    border: transparent;
    background-color: var(--accent-color-hover);
    fill: var(--accent-color-light);
}

.checkbox:focus + span {
    outline: 1px solid #4d5ae5;
}

.form button {
    min-width: 169px;
    margin: 24px auto;
    display: block;
}

/* INDEX MAIN */
.hero {
    height: 600px;
    max-width: 1440px;
    text-align: center;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0;
    margin: 0 auto;
}

.hero-title {
    color: var(--background-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    margin: 0 auto;
}

.hero-button {
    color: var(--background-color);
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    text-align: center;
    display: inline-block;
    padding: 16px 32px;
    margin-top: 48px;

    transition: background-color var(--transition-timing)
        var(--transition-function);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-color-hover);
}

.priorities-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--accent-color-light);
    border-radius: 4px;
    margin-bottom: 8px;
}

.section-title {
    color: var(--nav-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.section-list {
    display: flex;
    gap: 24px;
}

.list-item {
    width: 264px;
}

.section-bg {
    background-color: var(--accent-color-light);
}

.card {
    background-color: var(--background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    text-align: center;
}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-media-icon {
    height: 40px;
    width: 40px;
    fill: var(--accent-color-light);
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color var(--transition-timing)
        var(--transition-function);
}

.social-media-icon:hover,
.social-media-icon:focus {
    background-color: var(--accent-color-hover);
}

.customer-icon {
    height: 88px;
    width: 168px;
    border: 1px solid currentColor;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
    color: var(--customers-icon);

    transition: color var(--transition-timing) var(--transition-function);
}

.customer-icon:hover,
.customer-icon:focus {
    color: var(--accent-color-hover);
}

/* PORTFOLIO MAIN */

.portfolio-pad {
    padding: 96px 0 120px 0;
}

.portfolio-button {
    display: flex;
    justify-content: center;
    gap: 24px;

    margin-bottom: 72px;
}

.filter-button {
    color: var(--accent-color);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--accent-color-light);
    border: 1px solid var(--accent-color-medium);
    border-radius: 4px;

    display: inline-block;
    padding: 12px 24px;

    transition: color var(--transition-timing) var(--transition-function),
        background-color var(--transition-timing) var(--transition-function),
        box-shadow var(--transition-timing) var(--transition-function),
        border-color var(--transition-timing) var(--transition-function);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: 360px;
}

/* 
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

.portfolio-link {
    display: block;

    transition: box-shadow var(--transition-timing) var(--transition-function);
}

.portfolio-div {
    position: relative;
    overflow: hidden;
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-translate,
.portfolio-link:focus .portfolio-translate {
    transform: translateY(0%);
}

.portfolio-translate {
    position: absolute;

    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform var(--transition-timing) var(--transition-function);

    width: 100%;
    height: 100%;

    background-color: var(--accent-color);
}

.portfolio-translate-text {
    padding: 40px 32px;
    color: #fff;
    line-height: 1.5;
}

.portfolio .card-text {
    border: var(--accent-color-medium) solid 1px;
    border-top: 0;
}

.portfolio .card-text:hover {
    border: 1px solid var(--accent-color-light);
    border-top: 0;
}
