/*COMMON BODY */

/* FOOTER */

/* INDEX MAIN */

/* PORTFOLIO MAIN */

.portfolio-pad {
    padding: 96px 0 120px 0;
}

.portfolio-button {
    display: flex;
    justify-content: center;
    gap: 24px;

    margin-bottom: 72px;
}

.filter-button {
    color: var(--accent-color);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--accent-color-light);
    border: 1px solid var(--accent-color-medium);
    border-radius: 4px;

    display: inline-block;
    padding: 12px 24px;

    transition: color var(--transition-timing) var(--transition-function),
        background-color var(--transition-timing) var(--transition-function),
        box-shadow var(--transition-timing) var(--transition-function),
        border-color var(--transition-timing) var(--transition-function);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: 360px;
}

/* 
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

.portfolio-link {
    display: block;

    transition: box-shadow var(--transition-timing) var(--transition-function);
}

.portfolio-div {
    position: relative;
    overflow: hidden;
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-translate,
.portfolio-link:focus .portfolio-translate {
    transform: translateY(0%);
}

.portfolio-translate {
    position: absolute;

    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform var(--transition-timing) var(--transition-function);

    width: 100%;
    height: 100%;

    background-color: var(--accent-color);
}

.portfolio-translate-text {
    padding: 40px 32px;
    color: #fff;
    line-height: 1.5;
}

.portfolio .card-text {
    border: var(--accent-color-medium) solid 1px;
    border-top: 0;
}

.portfolio .card-text:hover {
    border: 1px solid var(--accent-color-light);
    border-top: 0;
}
